<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>681960488509-oqe04jjjeve3n6u4quqpl61f778eupmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681960488509-oqe04jjjeve3n6u4quqpl61f778eupmp</string>
	<key>API_KEY</key>
	<string>AIzaSyCWmpKPnTKKw19WLvfNaq6xQu4c19z7o-M</string>
	<key>GCM_SENDER_ID</key>
	<string>681960488509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chetan.todo-swift</string>
	<key>PROJECT_ID</key>
	<string>todoapp-ce50c</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-ce50c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681960488509:ios:102034a168c4f47b</string>
	<key>DATABASE_URL</key>
	<string>https://todoapp-ce50c.firebaseio.com</string>
</dict>
</plist>